body {
  margin: 0;
}

.btn-primary{
  width: 200px;
}

.btn-container{
  display: flex;
  justify-content: center;
}

.data-info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-user{
  width: 350px;
  height: auto;
}